.main-view {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main-view__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.faq-accordion-card__illustration-background {
  position: absolute;
  height: calc(104px + 5vh + 100px);
  width: 100%;
  top: 0;
  background: url("../assets/bg-pattern-mobile.svg") no-repeat top calc(5vh + 100px) center;
  z-index: 1;
}

.faq-accordion-card__illustration {
  position: absolute;
  height: calc(196px + 5vh);
  width: 100%;
  top: 0;
  background: url("../assets/illustration-woman-online-mobile.svg") no-repeat top 5vh right calc(50% + 16px);
  z-index: 1;
}

.faq-accordion-card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 70%;
  width: 90%;
  top: calc(5% - 15% + 107px);
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background: white;
}

.faq-accordion-card__title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.faq-accordion-card__faq-list {
  margin: 0;
  padding: 0 7%;
  list-style: none;
  overflow: auto;
}

.faq-accordion-card__faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.faq-accordion-card__faq-question--selected {
  color: black;
  font-weight: bold;
}

.faq-accordion-card__faq-container-icon {
  height: 7px;
  width: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.faq-accordion-card__faq-container-icon--selected {
  transform: rotate(180deg);
}

.faq-accordion-card__faq-question {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
}

.faq-accordion-card__faq-answer {
  margin: 10px 15px 0 0;
  font-size: 10px;
  width: 100%;
}

/* Devices from 321px */
@media (min-width: 321px) {
  .faq-accordion-card__title {
    margin-bottom: 15px;
  }

  .faq-accordion-card__faq-list {
    padding: 0 10%;
  }

  .faq-accordion-card__faq-question {
    font-size: 14px;
  }

  .faq-accordion-card__faq-answer {
    font-size: 11px;
  }
}

/* Devices from 426px */
@media (min-width: 426px) {
  .faq-accordion-card {
    width: 80%;
  }

  .faq-accordion-card__title {
    font-size: 35px;
  }

  .faq-accordion-card__faq-list {
    padding: 0 8%;
  }

  .faq-accordion-card__faq-container-icon {
    height: calc(7px * 1.5);
    width: calc(10px * 1.5);
    margin-left: 20px;
  }

  .faq-accordion-card__faq-question {
    font-size: 17px;
  }

  .faq-accordion-card__faq-answer {
    font-size: 13px;
  }
}

/* Devices from 769px */
@media (min-width: 769px) {
  .faq-accordion-card__illustration-background {
    position: absolute;
    height: calc(104px + 5vh + 100px);
    width: 100%;
    top: 0;
    background: url("../assets/bg-pattern-desktop.svg") no-repeat top calc(5vh + 100px) center;
    z-index: 1;
  }

  .faq-accordion-card__illustration {
    position: absolute;
    height: calc(196px + 5vh);
    width: 100%;
    top: 0;
    background: url("../assets/illustration-woman-online-desktop.svg") no-repeat top 5vh right calc(50% + 16px);
    z-index: 1;
  }

  .faq-accordion-card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 70%;
    width: 90%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background: white;
  }

  .faq-accordion-card__title {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
  }

  .faq-accordion-card__faq-question {
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
  }

  .faq-accordion-card__faq-answer {
    margin: 10px 15px 0 0;
    font-size: 11px;
    width: 100%;
  }
}
