.main-view {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
}

.faq-accordion-card__illustration-background {
  position: absolute;
  height: 104px;
  width: 100%;
  left: 0;
  background: url("../assets/bg-pattern-mobile.svg") no-repeat top center;
  z-index: 1;
}

.faq-accordion-card__illustration-1 {
  position: absolute;
  height: 196px;
  width: 100%;
  top: calc(20% - 107px);
  left: 0;
  background: url("../assets/illustration-woman-online-mobile.svg") no-repeat top right calc(50% + 16px);
  z-index: 1;
}

.faq-accordion-card__illustration-2 {
  display: none;
}

.faq-accordion-card {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 90%;
  padding-bottom: 10px;
  margin-top: 20vh;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background: white;
}

.faq-accordion-card__title {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.faq-accordion-card__faq-list {
  margin: 0;
  padding: 0 7%;
  list-style: none;
  overflow: auto;
}

.faq-accordion-card__faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.faq-accordion-card__faq-container-icon {
  height: 7px;
  width: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.faq-accordion-card__faq-container-icon--selected {
  transform: rotate(180deg);
}

.faq-accordion-card__faq-question {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
}

.faq-accordion-card__faq-question--selected {
  color: black;
  font-weight: bold;
}

.faq-accordion-card__faq-answer {
  margin: 10px 15px 0 0;
  font-size: 10px;
  width: 100%;
}

@media (min-width: 321px) and (max-width: 425px) {
  .faq-accordion-card__title {
    margin-bottom: 15px;
  }

  .faq-accordion-card__faq-list {
    padding: 0 10%;
  }

  .faq-accordion-card__faq-question {
    font-size: 14px;
  }

  .faq-accordion-card__faq-answer {
    font-size: 11px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .faq-accordion-card {
    width: 80%;
  }

  .faq-accordion-card__title {
    font-size: 35px;
  }

  .faq-accordion-card__faq-list {
    padding: 0 8%;
  }

  .faq-accordion-card__faq-container-icon {
    height: calc(7px * 1.5);
    width: calc(10px * 1.5);
    margin-left: 20px;
  }

  .faq-accordion-card__faq-question {
    font-size: 17px;
  }

  .faq-accordion-card__faq-answer {
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  .faq-accordion-card__illustration-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../assets/bg-pattern-desktop.svg") no-repeat center left;
    z-index: 1;
  }

  .faq-accordion-card__illustration {
    position: absolute;
    height: 100%;
    width: 380px;
    top: 0;
    background: url("../assets/illustration-woman-online-desktop.svg") no-repeat center right;
    z-index: 1;
  }

  .faq-accordion-card__desktop-additional-illustration {
    position: absolute;
    height: 110px;
    width: 140px;
    top: calc(50% - 184px / 2);
    background: url("../assets/illustration-box-desktop.svg") no-repeat top right;
    z-index: 1;
  }

  .faq-accordion-card {
    display: flex;
    align-self: center;
    flex-direction: column;
    height: 70%;
    width: 70%;
    margin-left: 5%;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background: white;
  }
}
